# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\testProject\JucCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
